body{
background-color: var(--background);
}

.loginTitle{
color:white;
margin: 2rem auto;
font-family: Arial, Helvetica, sans-serif;
font-size: 2rem;
font-weight: bold;
width: fit-content;
}

.logo_container{
display: flex;
justify-content: center;
}

.logo_container img{
width: 70%;
}

.login_container{
display: flex;
justify-content: center;
}

.login_form{
display: flex;
flex-direction: column;
margin: 0 auto;
width: 90%;
}

.login_labels{
display: flex;
flex-direction: column;
gap: 1rem;
}

.login_inputs{
display: flex;
flex-direction: column;
gap: 1rem;
}

.loginBtn{
margin: 2rem auto;
width: 50%;
}