
.layout_public{
    background-color: var(--background-public);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.layout_private{
    background-color: var(--background-private);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.login{
    background-color: var(--background);
    padding-bottom: 2rem;
    background: radial-gradient(#2b56a6, #1b2a4e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    overflow: hidden;
}

.loginTitle{
color:white;
font-family: 'Dosis', sans-serif;
font-size: 2rem;
font-weight: bold;
padding-top:3rem;
}

.loginTitle-container{
   text-align: center;
}

.login_labels label{
font-family: 'Dosis', sans-serif;
font-size: 1.5em;
margin: auto 1rem;

}

.logo_container{
display: flex;
justify-content: center;
padding-top: 2rem;

}

.logo_container h1{
    color: white;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    -webkit-text-stroke: 2px rgba(26, 25, 25, 0.418);
    -webkit-text-stroke-width: 3px;
    border-radius: 4px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
}

.logo_container img{
max-height: 280px;
max-width: 280px;
width: 70%;
}

.login_container{
display: flex;
justify-content: center;
}

.login_form{
display: flex;
flex-direction: column;
margin: 0 auto;
width: 90%;
}

.login_labels{
display: flex;
flex-direction: column;
gap: 1rem;
padding-top: 2rem;
}

.login_inputs{    
display: flex;
flex-direction: column;
gap: 1rem;
padding-top: 2rem;
}


.loginBtn_container{
margin: 3rem auto;
}

.loginBtn_container button{
    font-size: 2em;
    width: 15rem;
}
    
.login_textfield{
background-color: white;
border-radius: 0.3rem;
}

.errmsg{
text-shadow: 2px 2px tomato;
color: white;
font-family: 'Dosis', sans-serif;
font-size: 2em ;
text-align: center;
}

.spinner{
margin-top: 20vh;
text-align: center;
}

.welcome{
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    height:82vh;
    justify-content: center;
    line-height: 2.5rem;
    padding: 0rem 2rem;
}
.welcome h1{
color: black;
font-family: 'Dosis', sans-serif;
font-size: 2em ;
transition: 2s;
}

.footer{
    background-color: #585855;
    box-shadow: inset 0px 10px 5px -5px rgba(0, 0, 0, 0.5);
    height: 6rem;
    margin-top: auto;
    display: flex;
}
.footer_developer{
    width: 50%;
}

.footer_contact{
    margin: 0 auto;
    width: 40%;
}

.contact_item{
    display: flex;
    font-size: 1.4em;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
}

.developer{
color: white;
font-family: 'Dosis', sans-serif;
font-size: 1em ;
line-height: 2rem;
margin-top: 1rem;
text-align: center;
width: 100%;
}

.contact_title{
color: white;
font-family: 'Dosis', sans-serif;
font-size: 1em ;
line-height: 2rem;
margin-top: 1rem;
text-align: center;
}

.contact_item--icon{
cursor: pointer;
}

.contact_item--icon:hover{
transform: scale(1.2);
transition: 0.2s;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu_items{
display: flex;
}

.menu_icons{
margin: auto 0;
padding-left: 0.5rem;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color:var(--menu-background);
}

.main_title{
font-family: 'Dosis', sans-serif;
font-size: 3em ;
padding: 1rem;
text-align: center;
}

.btn_container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    }


.todo_card{
background-color: var(--card-background);
box-shadow: 2px 2px 6px black;
height: auto;
margin: 2rem auto;
padding: 1rem 0;
transition: 1s;
}

.todo_date{
font-family: 'Dosis', sans-serif;
font-size: 1.3em;
font-weight: bold;
padding:0.5rem 0 0.6rem 0;
text-align: center;
text-shadow: 1px 1px 2px rgb(155, 155, 155);
}

.todo_description{
color: var(--card-font);
font-family: 'Dosis', sans-serif;
font-size: 1.3em;
margin: 0 auto;
padding-bottom: 2rem;
text-shadow: 1px 1px 2px black;
width: 90%;
word-wrap: break-word;
}

.todo_card--container{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.todo_card--text{
min-height: 6rem;
}

.todo_status{
display: flex;    
margin: auto;
}

.todo_status h3{
color: var(--card-font);
font-family: 'Dosis', sans-serif;
font-size: 1.1em;
text-shadow: 1px 1px 6px black;
}

.todosBtn_container{
text-align: center;
}

.filter_container{
    text-align: center;
}

.todo_employee{
    color: var(--card-font);
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 2px black;
    width: 90%;
}

.status_pending{
    color: tomato;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.status_in-progress{
    color: yellow;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);

}

.status_completed{
    color: #2cff2c;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);

}

.calendar_container{
margin-top: 3rem;
}

.rbc-toolbar {
    font-family: 'Dosis';
    font-weight: 500;
    font-size: 1.5em !important;
}
.rbc-toolbar button{
    background: #1976d2b3 !important;
    background-color: #1976d2b3;
    cursor: pointer;
    font-family: 'Dosis';
    font-weight: 500;
    font-size: 0.7em;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active ,.rbc-toolbar button:active{
    background: #b35a69b3 !important;
}
.rbc-toolbar button:hover{
    background: #d29819b3 !important;
    transition: 300ms;
}
.rbc-today {
    background-color: #537c1c4d;
}


.ledger_add{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.css-wjh20t-MuiPagination-ul{
justify-content: center;
}


@media only screen and (max-width: 285px) {
    .developer{
        font-size: 0.8em ;
    }

    .welcome h1{
        font-size: 1em ;
    }

    .welcome{
        height: 75vh;
    }

    .todo_description{
        font-size: 1em;
        }
    
    .todo_status h3{
    font-size: 0.9em;
    }       
    
    .todosBtn_container{
    
        width: 90%;
        }
  }
  