body{
    background-color: var(--background);
 
}
.layout{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.login{
    background-color: var(--background);
    padding-bottom: 2rem;
}

.loginTitle{
color:white;
font-family: 'Dosis', sans-serif;
font-size: 2rem;
font-weight: bold;
padding-top:3rem;
}

.loginTitle-container{
   text-align: center;
}

.login_labels label{
font-family: 'Dosis', sans-serif;
font-size: 1.5em;
margin: auto 1rem;

}

.logo_container{
display: flex;
justify-content: center;
padding-top: 2rem;

}

.logo_container img{
width: 70%;
}

.login_container{
display: flex;
justify-content: center;
}

.login_form{
display: flex;
flex-direction: column;
margin: 0 auto;
width: 90%;
}

.login_labels{
display: flex;
flex-direction: column;
gap: 1rem;
padding-top: 2rem;
}

.login_inputs{    
display: flex;
flex-direction: column;
gap: 1rem;
padding-top: 2rem;
}


.loginBtn_container{
margin: 3rem auto;
}

.loginBtn_container button{
    font-size: 2em;
    width: 15rem;
}
    
.login_textfield{
background-color: white;
border-radius: 0.3rem;
}

.errmsg{
text-shadow: 2px 2px tomato;
color: white;
font-family: 'Dosis', sans-serif;
font-size: 2em ;
text-align: center;
}

.spinner{
text-align: center;
}

.welcome{
    background-color: white;
    height: 76.4vh;
    padding: 2rem;
}
.welcome h1{
color: black;
font-family: 'Dosis', sans-serif;
font-size: 2em ;
transition: 2s;
}

.footer{
    background-color: #585855;
    box-shadow: inset 0px 10px 5px -5px rgba(0, 0, 0, 0.5);
    height: 6rem;
    margin-top: auto;
    display: flex;
}
.footer_developer{
    width: 50%;
}

.footer_contact{
    margin: 0 auto;
    width: 40%;
}

.contact_item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.developer{
color: white;
font-family: 'Dosis', sans-serif;
font-size: 1em ;
line-height: 2rem;
margin-top: 1rem;
text-align: center;
width: 100%;
}

.contact_title{
color: white;
font-family: 'Dosis', sans-serif;
font-size: 1em ;
line-height: 2rem;
margin-top: 1rem;
text-align: center;
}
.contact_icon{
    color: 'red';
    width: 3rem;
}
